/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

hr {
  border: 1px solid rgb(236, 191, 113);
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 0;
}

small {
  font-size:11px;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

.lead {
  font-size: 20px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.primary-color {
  color: rgb(236, 191, 113);
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input100 {
  font-family: helvetica;
  font-weight: 200;
  font-size: 16px;
  color: #777777;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgb(236, 191, 113);
}

.focus-input100::after {
  font-family: helvetica;
  font-weight: 200;
  font-size: 16px;
  color: #cacaca;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(236, 191, 113);
  border-radius: 3px;

  box-shadow: 0 10px 30px 0px rgba(255,228,181,0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255,228,181,0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255,228,181,0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255,228,181,0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255,228,181,0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover  {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Helvetica;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.container {
  padding: 0 20px;
}

.sub-container {
  max-width: 1000px;
  width: 100%;
  height: 420px;
  margin: 80px auto 0;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px 0px 49px -22px rgba(148,148,148,1);
-moz-box-shadow: 0px 0px 49px -22px rgba(148,148,148,1);
box-shadow: 0px 0px 49px -22px rgba(148,148,148,1);
}

.sub-container h1 {
  font-family: 'Merriweather';
  font-size: 42px;
  font-weight: bolder;
}

.sub-container .banner-img {
  width: 800px;
  height: 100%;
  background-image: url('../images/damask.jpg');
}

.sub-container .title-img {
  text-align: center;
  margin: auto;
  padding: 30px;
}

.sub-container .login-form {
  width: 380px;
  height: 100%;
  /* text-align: center; */
  padding: 40px 45px 0;
  position: relative;background: #f7f7f7;
}

.sub-container .login-form .title {
  color: #6e8d30;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
}

.sub-container-alt {
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: 150px;
  margin: 50px auto 0;
  padding: 0px 70px;
}

.sub-container-alt p, .sub-container-alt small {
  color: #b9b9b9;
}

.login-form .label {
  color: #524a4a;
  font-size: 14px;
  letter-spacing: 2px;
}

.login-form .input {
  margin: 5px 0 15px;
  width: 100%;
  padding: 8px;
}

.login-form .forgot a {
  color: #6e8d30;
  font-size: 18px;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #6e8d30;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.title-box {
  text-align:center;
  padding: 100px 35px 0;
}

.title-box p {
  font-size: 16px;
  font-weight: 600;
}

.trust-badge {
  width:90px;
  height:18px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .title-box {
    text-align: center;
    padding: 40px 39px 0;
    }
    .sub-container .login-form {
      width: 460px;
      height: 100%;
      /* text-align: center; */
      padding: 40px 20px 0;
      position: relative;
      background: #f7f7f7;
      }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0px;
  }
  .sub-container {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .sub-container .banner-img {
    width: 100%;
    height: 360px;
  }
  .sub-container .login-form {
    width: 100%;
    padding: 40px 80px 0;
    height: 480px;
  }
  .sub-container .login-form .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .login-form .input {
    margin-bottom: 10px;
  }
  .login-form .forgot {
    margin-bottom: 55px;
  }
  .login100-form-btn {
    margin-bottom: 40px;
  }
  .title-box {
    padding-top:0px;
  }
  .title-box p {
    font-size: 14px;
  }
  .trust-badge {
    width:130px;
    height:24px
  }  
  .lead {
    font-size:28px;
  }
  small {
    font-size:14px;
  }
  .btn {
    margin-top: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  .sub-container {
    margin-top: 30px; 
  }
  .sub-container .banner-img {
    height: 360px;
    }
  .sub-container .login-form {
    padding: 40px 60px 0;
    height: 480px;
  }
  .title-box {
    text-align: center;
    padding: 0 55px 0;
    }
    .lead {
      font-size: 26px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .sub-container h1 {
    font-size: 38px;
  }
  .sub-container .login-form {
    padding: 40px 60px 0;
    height: 520px;
  }
  .title-box {
    text-align: center;
    padding: 0 47px 0;
    }
}

@media screen and (max-width: 320px) {
  .sub-container h1 {
    font-size: 38px;
  }
  .sub-container .login-form {
    padding: 40px 40px 0;
    height: 520px;
  }
  .sub-container-alt {

    padding: 0px 50px;
    }
  .title-box {
    text-align: center;
    padding: 0 30px 0;
    }
    .title-box p {
      font-size: 12px;
      }
}